body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(250, 92, 173);
    background: linear-gradient( 90deg, rgba(255, 224, 237, 1) 6%, rgba(248, 151, 191, 1) 43%, rgba(249, 140, 185, 1) 70%,  rgba(254, 93, 159, 1) 100%);
}

header {
    text-align: center;
    padding: 2rem 0;
}

header h1, header h2 {
    margin: 0.5rem 0;
}

#container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.card {
    width: 300px;
    height: 380px;
    background: pink;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {box-shadow: 10px 20px 30px rgb(241, 86, 177);}
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid white;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.id {
    font-size: 16px;
    margin: 0;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 35px rgba(237, 58, 151, 0.3);
}

.last:hover{
    box-shadow: 0 15px 35px rgba(237, 58, 151, 0.3);
    transform: translateY(-10px) scale(1.10);
}

footer {
    text-align: center;
    color: white;
    padding: 1rem;
}
